.a{
    background-color: #101820FF;
    margin: 20px;
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.6);

}
.a:hover{
    text-decoration:none
}
.b{
    color: #F2AA4CFF;
}

h2:hover{
    text-decoration: none;
}